.profile {
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .profiletop {
        display: flex;
        flex-direction: column;

        .backimage {
            height: 300px;
            object-fit: cover;
        }

        .btm {
            height: 100px;
            position: relative;

            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                position: absolute;
                top: -50%;
                left: 5%;
            }

            .profilename {
                margin-left: 20%;
                padding: 15px;
                border-bottom: 1px solid white;
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 100px;

                h1 {
                    font-size: 25px;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                span {
                    font-size: 15px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.5);
                }

                button {
                    height: 40px;
                    padding: 0 20px;
                    background-color: blue;
                    color: white;
                }
            }
        }
    }

    .profilecontent {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .left {
            width: 25%;
            height: max-content;
            background-color: #363164;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            border-radius: 10px;
            position: sticky;
            top: 0;
            left: 0;

            h1 {
                font-size: 15px;
                font-weight: 700;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                padding: 10px;
            }

            p {
                color: rgba(255, 255, 255, 0.3);
            }
        }

        .mid {
            width: 70%;
            height: 100%;
            background-color: #363164;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .postcard {
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                overflow: hidden;

                .btm {
                    padding: 20px 20px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                    height: max-content;

                    .postleft {
                        display: flex;
                        flex-direction: column;

                        p {
                            background-color: red;
                            color: rgba(255, 255, 255, 0.3);
                        }
                    }

                }
            }
        }

        .right {
            height: max-content;

            .followers {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .user {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;
                    cursor: pointer;
                    padding: 0px 10px;
                    border-radius: 10px;

                    &:hover {
                        background-color: #16122b;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .de {
                        display: flex;
                        flex-direction: column;

                        p {
                            font-size: 12px;
                            color: rgba(255, 255, 255, 0.3);
                        }
                    }
                }
            }
        }
    }


}