@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #16122b;
}

a {
    list-style: none;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

/* sidebar route */
.route {
    padding: 15px 20px;
    background-color: #363164;
}

.routeactive {
    background-color: #16122b;
    padding: 10px 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: visible;
}

.routeactive::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    right: 0;
    top: -20px !important;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 0 5px #16122b;
}

.routeactive::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    right: 0;
    bottom: -20px;
    border-top-right-radius: 25px;
    box-shadow: 5px -5px 0 5px #16122b;
}