.users {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .usertop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        span {
            font-weight: 700;
            border-bottom: 1px solid white;
            padding-bottom: 10px;
        }
    }

    .usercon {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;

        .singleuser {
            position: absolute;
            width: 30%;            
            top: 0;
            right: -100%;
            transition: 0.5s ease-in-out;
        }

        .useropen {            
            right: 0;
            transition: 0.5s ease-in-out;
        }

        .headings {
            background-color: #363164;
        }

        .usersd {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .table {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border: 1px solid rgba(255, 255, 255, 0.1);

                &:hover {
                    background-color: #3631646b;
                    cursor: pointer;
                }

                .usertable:nth-child(2) {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;

                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .usertable:nth-child(5),
                .usertable:nth-child(6) {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        cursor: pointer;

                        &:hover {
                            opacity: 0.5;
                        }
                    }

                    .icondel {
                        color: red;
                    }

                }
            }
        }
    }

    .userbtm {
        display: flex;
        align-items: end;
        justify-content: end;

        .pagination {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                cursor: pointer;
            }
        }
    }
}


.headings,
.table {
    width: 100%;
    // border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 20px;
    gap: 10px;

    h1 {
        font-size: 15px;
        font-weight: 700;
    }

    .usertable {
        font-size: 12px;
        font-weight: 400;
    }

    h1:nth-child(1),
    .usertable:nth-child(1) {
        width: 5%;
    }

    h1:nth-child(2),
    .usertable:nth-child(2) {
        width: 30%;
    }

    h1:nth-child(3),
    .usertable:nth-child(3) {
        width: 25%;
    }

    h1:nth-child(4),
    .usertable:nth-child(4) {
        width: 25%;
    }

    h1:nth-child(5),
    .usertable:nth-child(5) {
        width: 5%;
    }

    h1:nth-child(6),
    .usertable:nth-child(6) {
        width: 5%;
    }
}